@CHARSET "UTF-8";
.principal {
         margin: 20px;
      }
      
      .marge {
         margin: 5px;
      }
      
      .center {
         text-align: center;
      }

      .pageHeader {
         text-align: center;
         font-size: x-large;
      }
      .noVerticalScroll {
        overflow-y: visible;
      }
     
      .reportBackground {
        background-color: #EEEEEE;
      }

