<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task-3.0.xsd
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd     ">

	<context:annotation-config />
	<aop:config proxy-target-class="true" />
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<tx:annotation-driven />

	<context:component-scan base-package="com.tinsys.itc_reporting" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/classes/config/database/database.properties</value>
			</list>
		</property>
	</bean>


	<!-- Database Configurations -->
	<import resource="classes/config/spring/beans/DataSource.xml" />
	<import resource="classes/config/spring/beans/HibernateSessionFactory.xml" />


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>



	<bean id="zoneDAO" class="com.tinsys.itc_reporting.dao.ZoneDAOImpl">
		<property name="factory" ref="sessionFactory" />
	</bean>

	<bean id="taxDAO" class="com.tinsys.itc_reporting.dao.TaxDAOImpl">
		<property name="factory" ref="sessionFactory" />
	</bean>

   <bean id="fiscalPeriodDAO" class="com.tinsys.itc_reporting.dao.FiscalPeriodDAOImpl">
      <property name="factory" ref="sessionFactory" />
   </bean>
   
	<bean id="taxPeriodDAO" class="com.tinsys.itc_reporting.dao.TaxPeriodDAOImpl">
		<property name="factory" ref="sessionFactory" />
	</bean>

	<bean id="fxRateDAO" class="com.tinsys.itc_reporting.dao.FXRateDAOImpl">
		<property name="factory" ref="sessionFactory" />
	</bean>

   <bean id="applicationDAO" class="com.tinsys.itc_reporting.dao.ApplicationDAOImpl">
      <property name="factory" ref="sessionFactory" />
   </bean>

   <bean id="salesDAO" class="com.tinsys.itc_reporting.dao.SalesDAOImpl">
      <property name="factory" ref="sessionFactory" />
   </bean>

   <bean id="preferencesDAO" class="com.tinsys.itc_reporting.dao.PreferencesDAOImpl">
      <property name="factory" ref="sessionFactory" />
   </bean>
</beans>