<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>ITC Reporting</description>
	<display-name>ITC reporting</display-name>
	<distributable />

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>itc-reporting.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- GWT Spring -->
	<servlet>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>springGwtRemoteServiceServlet</servlet-name>
		<url-pattern>/ITCreporting/springGwtServices/*</url-pattern>
	</servlet-mapping>
	
	  <!-- File upload servlet -->
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.tinsys.itc_reporting.server.utils.FileUploadServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/ITCreporting/upload</url-pattern>
  </servlet-mapping>

</web-app>
